---
// props
const { title, image, slug, shortRole, techLevel, showTechBadge = true } = Astro.props;
---

<a href={`/units/${slug}`} class="unit-card">
  <div class="unit-image-container">
    {showTechBadge && (
      <span class="tech-badge">T{techLevel}</span>
      )}
      <img src={image} alt={title} class="unit-thumbnail" />
      <div class="unit-overlay">
        <div class="unit-name">{title}</div>
        <div class="unit-role">{shortRole}</div>
      </div>
    </div>
  </a>

  